html {
    scroll-behavior: smooth;
  }
.section-divider {
  width: 90%;
  height: 4px;
  background: linear-gradient(to right, #007bff, #0056b3);
  margin: 80px auto;
  border-radius: 2px;
  border: none;
}
  
  